<!--
Coordinate Transform
X:  Forward
Y:  Left
Z:  Up
-->

<launch>
    <env name="ROS_IP" value="192.168.1.5"></env>
    <param name="robot_description" textfile="$(find bsl_collision_avoidance)/urdf/CTA.urdf" />

    <!--///Static Transforms///-->
    <include file="$(dirname)/transforms.launch" />
    
    <!--///Laser Angle Listener for Calibration///-->
    <node pkg="bsl_collision_avoidance" type="calibration_listener.py" name="calibration_listener" output="screen" respawn="true"/>

    <!--///Running LIDAR 1 collision avoidance///-->
    <include file="$(dirname)/MRS6000_ns.launch">
        <arg name="name_space" value="1" /> 
        <arg name="laser_ip" value="192.168.1.7" />
        <arg name="laser_frame" value="laser1" />
        <arg name="parent_frame" value="laser_mount1" />
        <arg name="grid_frame" value="grid1" />
        <arg name="grid_height" value="4" />
        <arg name="grid_width" value="20" />
        <arg name="grid_x" value="5.5" />
        <arg name="grid_y" value="-2" />
        <arg name="modbus_address" value="17" />
    </include>
    
    <!--///Running LIDAR 2 collision avoidance///-->
    <include file="$(dirname)/MRS6000_ns.launch">
        <arg name="name_space" value="2" /> 
        <arg name="laser_ip" value="192.168.1.8" />
        <arg name="laser_frame" value="laser2" />
        <arg name="parent_frame" value="laser_mount2" />
        <arg name="grid_frame" value="grid2" />
        <arg name="grid_height" value="4" />
        <arg name="grid_width" value="20" />
        <arg name="grid_x" value="5.5" />
        <arg name="grid_y" value="-2" />
        <arg name="modbus_address" value="18"/>
    </include>
    
    <!--///Failure Output///-->
    <node pkg="bsl_collision_avoidance" type="failure_output.py" name="failure_output" respawn="true">
        <param name="modbus_address" value="16" />
    </node>
    
    <!--///System Shutoff on Digital Input 0 High///-->
    <node pkg="bsl_collision_avoidance" type="system_shutoff.py" name="system_shutoff" respawn="true">
        <param name="modbus_address" value="0" />
    </node>
    
</launch>
